
<%# if @question is persisted then the `form_for` helper will make the action submit to question_path(@question) and it will make the HTTP request PATCH. %>
<%# form_for is a Rails helper that expects to be given an ActiveRecord object
as a first argument. If the object is not persisted it will automatically
set the action for the form the associated controller create action.
In this case it will make the action go to `questions_path` and itwill
automatically set the method to "POST" %>
<%= @question.errors.full_messages.join(", ") %>
<%= form_for @question do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>
  <%= f.submit %>
<% end %>
