<%= link_to "Home", root_path %>
|
<%= link_to "Q History", questions_path %>
|
<%= link_to("About Us", about_path) %>
|
<a href="<%= greet_path("Torri") %>">Greet Torri</a>
|
<%= link_to "New Question", new_question_path %>
|
<%= link_to "Converter", tempconverter_path %>
|
<% if user_signed_in?%>
  Hello, <%= current_user.first_name %>
  <%= link_to "Sign Out", sessions_path, method: :delete %>
<% else %>
  <%= link_to "Sign Up", new_user_path %>
  |
  <%= link_to "Sign In", new_session_path %>
<% end %>
<hr>
